body {
    font-family: 'Arial', sans-serif;
    background-image: url("Image/perpus.jpg");
    margin: 0;
  }

  .mynavbar {
    overflow: hidden;
    background-color: #333;
    color: white;
    text-align: center;
  }

  .mynavbar a {
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }

  .mynavbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .mynavbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  .container-header {
    margin-top: 20px;
  }

  .search-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .search-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .book {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .book-image img {
    max-width: 100px;
    margin-right: 20px;
  }

  .book-description {
    flex: 1;
  }

  .book-description h3 {
    margin-bottom: 10px;
  }

  .book-description p {
    margin: 5px 0;
  }

  .book-description input,
  .book-description a {
    margin-top: 10px;
  }

  .table-responsive-xxl {
    margin-top: 20px;
    background-color: transparent;
    border-color: transparent;
  }
  .table, .table tbody, .table tr, .table td, .table th {
    background-color: transparent;
    border-color: transparent;
  }